
/*-- mobile --*/

@media only screen and (max-width: 600px) {
  
  header{
    top: 0;
    position: fixed;
    backdrop-filter: blur(8px);
  }

  nav{

  }

  #navbar{
    display:none;
  }
  
  h1{
    font-size: 5vh;
  }
  
  section{
    height: auto;
  }
  
  #intro{
    height: 100vh;
  }

  /* -- bio -- */
  #about{
    flex-flow: column;
    padding: 5px;
  }

  #about>*{
    width: auto;
  }

  #bio{
    padding: 20px;
  }

  #info{
    margin-top: 10px;
    display: none;
  }

  /* -- timeline -- */

  .timeline{
    position:initial
  }

  .timeline::after{
    width: 0;
  }

  .btnForm{
    font-size: 1.4rem;
  }

  .right{
    left: 0;
  }

  .left::before{
    content: none;
  }

  .container::after{
    background: transparent;
    border: none;
  }

  .right::before{
    content: none;
  }
  
  .container{
    padding: 10px 20px;
    width: auto;
  }

  .content{
    font-size: 14px;
    padding: 20px 10px;
  }


  /* -- project  -- */
  
  /* -- stack -- */
  

  /* -- contact -- */
  #contact>*{
    width: auto;
  }
  #contact form{
    width: 35vh;
  }

}

