
.openMenu{
  display: flex;
  flex-flow: column;
  position: fixed;
}

/*-- mobile - vertical --*/

@media only screen and (max-width: 800px) {
  
  header{
    top: 0;
    position: fixed;
    z-index: 2;
    background: var(--background);
    backdrop-filter: blur(3px);
  }
 
  main>*{
    height: auto;
  }

  #btnNavbar{
    display: initial;
    font-size: 24px;
    background-color: transparent;
  }

  #navbar{
    display:none;
    right: 0;
    background: var(--background);
    margin-top: 30px; 
    backdrop-filter: blur(3px);
    height: 100vh;
    border-radius: 3px;
  }

  #navbar li{
    text-align: right;
    margin-top: 20px;
  }
  
  h1{
    font-size: 5vh;
  }
  
  section{
    height: auto;
  }
  
  #intro{
    height: 100vh;
  }

  /* -- bio -- */
  #about{
    flex-flow: column;
    padding: 5px;
  }

  #about>*{
    width: auto;
  }

  #bio{
    padding: 20px;
  }

  #info{
    margin-top: 10px;
    display: none;
  }

  /*-- stack --*/

  #stack{
    display: flex;
    flex-flow: column;
    height: auto;
  }

  .iconsImg {
    width: 75px;
  }
  #majorInfo p{
    font-size: 15px
  }

  #other{
    margin-left: 0;
  }

  .whiteBorder{
    padding: 10px 10px;
  }

  /* -- timeline -- */

  #options{
    display: flex;
  }

  .timeline{
    position:initial
  }

  .timeline::after{
    width: 0;
  }

  .btnForm{
    font-size: 1.4rem;
  }

  .right{
    left: 0;
  }

  .left::before{
    content: none;
  }

  .container::after{
    background: transparent;
    border: none;
  }

  .right::before{
    content: none;
  }
  
  .container{
    padding: 10px 20px;
    width: auto;
  }

  .content{
    font-size: 14px;
    padding: 20px 10px;
  }


  /* -- project  -- */
  
  #projects{
    height: auto;
  }
  
  .project{
    display: inline;
  }
  
  .projectImg{
    width: auto;
  }

  .projectInfo{
    width: 100%;
  }
  
  .imgStack{
    width: 100%;
    margin-top: 5px;
  }

  .projectInfo div{
    font-size: 20px;
    padding: 0;
  }

  .projectLink{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .projectLink div{
    font-weight: 900;
    font-size: 18px;
   justify-self: left;
    width: 100%;
  }
  .projectLink >*{
    margin-top: 10px;
  }
  .projectLink div a{
    width: 100%;
    font-size: 20px;
  }

  /* -- contact -- */
  #contact{
    height: auto;
  }

  #contact p {
    text-align: center;
  }
  .contactIcon{
    padding: 0;
    padding-inline: 0;
  }
}

